extends layout
block title
	if (deal)
		=" " + deal.deal_name

block content
	if (deal)
		.container-fluid
			include deal_data


	else
		.jumbotron
			p.text-center#no_current The Page You're Looking for doesn't exist 
