extends layout
block content
	.text-center
		.btn-group(style='margin-bottom:20px')
			a.btn.btn-warning.btn-lg(href=(approved ? '/dashboard/approved' : '/dashboard'))
				span.glyphicon.glyphicon-chevron-left
				="Go Back"
			if(!approved)
				button#action-approve.btn.btn-success.btn-lg(data-id=deal.id +":"+ deal.deal_name)
					span.glyphicon.glyphicon-ok
					="Approve"

			a.btn.btn-info.btn-lg(href="/update/"+deal.id)
				span.glyphicon.glyphicon-pencil
				="Edit"

			button#action-remove.btn.btn-danger.btn-lg(data-id=deal.id +":"+ deal.deal_name)
				span.glyphicon.glyphicon-remove
				="Delete"
	script.
		function PerformRequest(self, method, id, name) {
			var approved = (method == 'put') ? "Approve" : "Delete";
			var r=confirm("Do You Wish to "+ approved +" "+ name + "?");
			if (r==true)
				$.ajax({
					type: method,
					url: '/set/' + id,
					success: function() {
						location.reload(true);
					},
					error: function() {
						alert('There was an error completing the action.');
						location.reload(true);
					}
				});
		}

		$(function() {
			$('#action-approve').click(function() {
				var data = $(this).attr('data-id').split(":");
				PerformRequest(this, 'put', data[0] , data[1]);
			});

			$('#action-remove').click(function() {
				var data = $(this).attr('data-id').split(":");
				PerformRequest(this, 'delete',data[0] , data[1]);
			});
		});

	include deal_data
