extends layout

block content
	.container
		.row
			.col-md-12z
				.well.well-sm
					form.form-horizontal(action='/submit', method='post', enctype='multipart/form-data')
					fieldset
						legend.text-center Submit a Hot Deal!

						.row
							.form-group
								label.col-md-3.control-label(for='bus_name_field') Business Name
								.col-md-9
									input.form-control#bus_name_field(type='text', name='business_name')

						.row
							.form-group
								label.col-md-3.control-label(for='deal_name_field') Name Of Deal
								.col-md-9
									input.form-control#deal_name_field(type='text', name='deal_name')

						.row
							.form-group
								label.col-md-3.control-label(for='deal_desc') Deal Desciption
								.col-md-9
									textarea.form-control#deal_desc(type='text', name='deal_name', rows='5')

						.row
							.form-group
								label.col-md-3.control-label(for='member_field') Member Number
								.col-md-9
									input.form-control#member_field(type='number', name='member_number')

						.row
							.form-group
								label.col-md-3.control-label(for='date_field') Deal Expiry Date
								.col-md-9
									input.form-control#member_field(type='text', name='expires', placeholder='yyyy-mm-dd')

						.row
							.form-group
								label.col-md-3.control-label(for='file_field') Insert image or logo (optional)
								.col-md-9
									input#file_field(type='file', name='image')

						.row
							.form-group
								.col-md-12.text-right
									button(type='submit').btn.btn-primary.btn-lg Submit
	script.
		$(function() {
			$('[name=expires]').datepicker({minDate: +3, dateFormat: 'yy-mm-dd'});
		});
