doctype html
html(ng-app="ngAppGCPC")
	head
		include template/head
		title 
			= "GCPC AIR - "
			block title
	body
		include template/navbar

		.container-fluid
			.row
				.col-md-12
					block content
							
