doctype html
html(ng-app="ngAppGCPC")
	head
		include template/head
		title 
			= "GCPC AIR - LOGIN"
	body
		.navbar.navbar-inverse(role='navigation', style='border-radius: 0px;')
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/') GCPC ACSS

		.container-fluid
			.row(style='margin-top: 10px')
				.col-md-12
					.well
						form(role='form', method='post')
							.form-group
								label.sr-only(for="usernamelogin") Username:
								input.form-control#usernamelogin(type="text",name='username', placeholder="Username")
							.form-group
								label.sr-only(for="passwordlogin") Password:
								input.form-control#passwordlogin(type="password",name='password', placeholder="Password")
							button.btn.btn-primary(type="submit",style='margin:auto; display:block') Sign in