doctype html
html
	head
		meta(name='viewport', content='width=device-width, user-scalable=no')
		script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
		script(type='text/javascript', src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js')
		link(rel='stylesheet', href='/styles.css')
		link(rel='stylesheet', href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
		title Bartercard Deals
	body
		#wrapper-content
			.header-bar
				img(src='/images/logo.jpg')#header-logo
				if admin
					#headeradmin Adminstration
				#header-comment 22 years &amp; 55,000 cardholders
				#header-phone
					img(src="/images/btn_followus.jpg")#header-follow
					span.green phone
					span.black 1300 BARTER
					span.gray 1300 227 837

			#nav-bar
				ul
					each menu in navbar
						li(class=(menu.title == nav_loc ? 'active' : ''))
							a(href=menu.url)= menu.title

				span(style='display:block; clear:left')

			#page-content
				block content

	#fb-root

	script.
		window.fbAsyncInit = function() {
		FB.init({
			appId      : '387990078011894',
			status     : true,
			xfbml      : true
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));