extends layout

block content
	.jumbotron.text-center
		if error
			p#no_current= "Something went wrong!"
			if errorMessage != null
				p(style='text-align:center')= errorMessage
		if !error && update
			p="The Deal: " + dealname + " was updated Sucessfully!"
		if !error && !update
			p Thank you for submitting your Hot Deal.
			p Once approved your deal will be live, this may take two working days.
			p Please view our Privacy Policy 
				a(target='blank', href="http://www.bartercard.com.au/About/Privacy.html") Here
		if(!update)
			a.btn.btn-default.btn-sm(href="/")
					span.glyphicon.glyphicon-chevron-left
					span Go Back
		else
			a.btn.btn-default.btn-sm(href="/dashboard")
					span.glyphicon.glyphicon-chevron-left
					span Dashboard